body {
  background-color: #080808;
  color: white;
  font-family: helvetica;
  /* font-weight: 600; */
  /* font-style: normal; */
}

.main {
  text-align: left;
  margin: 0 10%;
  width: 80%;
}

.fulltable table {
  border-collapse: collapse;
}

.fulltable .sort {
  padding: 0 1%;
  background-color: #4CAF50;
}

.fulltable .sort h4 {
  margin: 0;
}

.justthetable {
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ccc;
}

tr:nth-child(odd) {
  background-color: #b3b3b3;
}

th {
  background-color: #4CAF50;
  color: white;
}

.navigation {
  text-align: center;
  /* height: 56px; */
  width: 80%;
  margin: 0 auto;
}

a, a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

.navigation a {
  width: 100%;
}

.navigation .col-sm-4 {
  padding: 0;
}

.left, .center, .right {
  height: 100%;
  display: inline-block;
  width: 100%;
  margin: auto;
}

.left {
  background-color: #4CAF50;
}

.center {
  background-color: red;
}

.right {
  background-color: #3f51b5;
}

.botpic img {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid white;
}

.notes {
  font-size: 20px;
}

.notes ul {
  list-style: square;
}

.redalliance {
  color: red;
}

.bluealliance {
  color: #3f51b5;
}

.tie {
  color: yellow;
}

.won {
  color: green;
}

.wonline {
  text-decoration: underline;
}

.matchheader table {
  width: 100%;
}

.matchheader a {
  width: 100%;
  height: 100%;
  font-size: 24px;
}

.matchteam {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.matchteam div {
  text-align: center;
  font-size: 24px;
  padding: 10px 0px;
  display: inline-block;
  /* margin: 0 auto; */
}

.matchteam .red {
  background: red;
}

.matchteam .blue {
  background-color: #3f51b5;
}

.matchteam .yellow {
  background-color: yellow;
}

.matchteam .team:hover {
  background-color: #4CAF50;
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child), .row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.matchteam .col-sm-4 {
  padding: 0;
}

.matchteam .team {
  height: 40px;
  display: table;
}

.team a {
  display: table-cell;
  vertical-align: middle;
}

select {
  color: white;
}

